In [83]:
import pandas as pd 
import numpy as np


#Supress all warnings
import warnings
warnings.filterwarnings('ignore')

#dislplay options to view columns
pd.set_option("display.max_columns", None)

LOADING THE DATASETS

In [84]:
#First Train Dataset
train1 = pd.read_csv(r"C:\Users\debor\Downloads\Azubi Africa\Phase 2\Telco-churn-first-3000.csv")

train1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2209-XADXF,Female,False,False,False,1,False,NaN,DSL,False,False,False,False,False,False,Month-to-month,False,Bank transfer (automatic),25.250000,25.250000,False
2996,6620-JDYNW,Female,False,False,False,18,True,True,DSL,True,False,True,False,False,False,Month-to-month,True,Mailed check,60.599998,1156.349976,False
2997,1891-FZYSA,Male,True,True,False,69,True,True,Fiber optic,False,True,False,False,True,False,Month-to-month,True,Electronic check,89.949997,6143.149902,True
2998,4770-UEZOX,Male,False,False,False,2,True,False,Fiber optic,False,True,False,False,False,False,Month-to-month,True,Electronic check,74.750000,144.800003,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-month,False,Mailed check,20.600000,414.950012,False

In [85]:
#Second Train Dataset
train2 = pd.read_csv(r"C:\Users\debor\Downloads\Azubi Africa\Phase 2\LP2_Telco-churn-second-2000.csv")

train2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,No,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [86]:
#Test Dataset
test_set = pd.read_excel(r"C:\Users\debor\Downloads\Azubi Africa\Phase 2\Telco-churn-last-2000.xlsx")

test_set

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7912-SYRQT,Female,0,No,No,7,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.10,552.95
1996,3557-HTYWR,Female,0,No,No,47,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.3
1997,4816-JBHOV,Male,1,No,No,2,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,44.70,93.7
1998,8920-NAVAY,Male,1,No,No,62,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),110.75,7053.35
1999,1699-TLDLZ,Female,0,Yes,Yes,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.70,301.55

UNDERSTANDING  THE DATASET

In [87]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [88]:
train1.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [89]:
train1.duplicated().sum()

np.int64(0)

In [90]:
train1.shape

(3000, 21)

In [91]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [92]:
train2.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [93]:
train2.duplicated().sum()

np.int64(0)

In [94]:
train2.shape

(2043, 21)

In [95]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [96]:
test_set.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [97]:
test_set.duplicated().sum()

np.int64(0)

In [98]:
test_set.shape

(2000, 20)

CONCATENATING THE TRAINING SETS

In [99]:
#concatenating train 1 & train 2

train_set = pd.concat([train1,train2],ignore_index= True)

In [100]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [101]:
train_set.shape

(5043, 21)

In [102]:
#converting the datatype for total charges

train_set['TotalCharges'] = pd.to_numeric(train_set['TotalCharges'], errors= 'coerce')

test_set['TotalCharges'] = pd.to_numeric(test_set['TotalCharges'], errors= 'coerce')

In [103]:
print(train_set['TotalCharges'].dtype)

float64

In [104]:
print(test_set['TotalCharges'].dtype)

float64

OBSERVATIONS


Imputting missing values in the train set


Dropping the ones with less missing values


Check for outliers to make sure to standardize if necessary

In [105]:


#checking for unique values

def unique_values(dataframe):

    unique_summary = []

    for column in dataframe.columns:
        values = dataframe[column].unique()
        counts_values = len(values)

        unique_summary.append({
            'Column': column,
            'unique_values' : values,
            'Count_of_unique_values' : counts_values})

    usummary = pd.DataFrame(unique_summary)

    return usummary

In [106]:
unique_values(train_set)

,Column,unique_values,Count_of_unique_values
0,customerID,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...",5043
1,gender,"[Female, Male]",2
2,SeniorCitizen,"[0, 1]",2
3,Partner,"[True, False, No, Yes]",4
4,Dependents,"[False, True, No, Yes]",4
5,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
6,PhoneService,"[False, True, Yes, No]",4
7,MultipleLines,"[nan, False, True, No, No phone service, Yes]",6
8,InternetService,"[DSL, Fiber optic, No]",3
9,OnlineSecurity,"[False, True, nan, No, Yes, No internet service]",6
10,OnlineBackup,"[True, False, nan, No, Yes, No internet service]",6
11,DeviceProtection,"[False, True, nan, No, Yes, No internet service]",6
12,TechSupport,"[False, True, nan, Yes, No, No internet service]",6
13,StreamingTV,"[False, True, nan, No, Yes, No internet service]",6
14,StreamingMovies,"[False, True, nan, No, Yes, No internet service]",6
15,Contract,"[Month-to-month, One year, Two year]",3
16,PaperlessBilling,"[True, False, Yes, No]",4
17,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
18,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
19,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
20,Churn,"[False, True, nan, No, Yes]",5

In [107]:
#dropping customer ID column without removing the index
train_set.drop(columns = 'customerID', inplace = True)

test_set.drop(columns = 'customerID', inplace = True)

In [108]:
train_set.head(4)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,Male,0,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,Male,0,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,Male,0,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False

In [109]:
#Converting to Yes and No

labels = train_set.select_dtypes(include = 'object').columns.tolist()

labels

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [110]:
#Converting to strings 
train_set[labels] = train_set[labels].astype(str)

In [111]:
#Adding a function to loop the change we want to make 

either = {
    "No" : ["False", "0", "No phone service", "No internet service"],
    "Yes" : ["True", "1"]
}

def correct_columns(train_set, labels, either):

    for column_name in labels:
        for key, values in either.items():
            train_set[column_name] = train_set[column_name].replace(values , key )
    return train_set

train_set = correct_columns(train_set, labels , either)

In [112]:
unique_values(train_set)

,Column,unique_values,Count_of_unique_values
0,gender,"[Female, Male]",2
1,SeniorCitizen,"[0, 1]",2
2,Partner,"[Yes, No]",2
3,Dependents,"[No, Yes]",2
4,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
5,PhoneService,"[No, Yes]",2
6,MultipleLines,"[nan, No, Yes]",3
7,InternetService,"[DSL, Fiber optic, No]",3
8,OnlineSecurity,"[No, Yes, nan]",3
9,OnlineBackup,"[Yes, No, nan]",3
10,DeviceProtection,"[No, Yes, nan]",3
11,TechSupport,"[No, Yes, nan]",3
12,StreamingTV,"[No, Yes, nan]",3
13,StreamingMovies,"[No, Yes, nan]",3
14,Contract,"[Month-to-month, One year, Two year]",3
15,PaperlessBilling,"[Yes, No]",2
16,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4
17,MonthlyCharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
18,TotalCharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4864
19,Churn,"[No, Yes, nan]",3

In [113]:
#creating a list for the numerical columns 

number = train_set[['tenure', 'TotalCharges', 'MonthlyCharges']]

UNIVARIATE ANALYSIS

In [122]:
train_set.describe()

            tenure  MonthlyCharges  TotalCharges
count  5043.000000     5043.000000   5043.000000
mean     32.576641       65.090214   2298.488381
std      24.529807       30.068133   2269.455293
min       0.000000       18.400000     18.799999
25%       9.000000       35.775000    415.724997
50%      29.000000       70.550003   1398.599976
75%      56.000000       90.050003   3857.575073
max      72.000000      118.650002   8670.100000

In [115]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   int64
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5035 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 788.1+ KB

In [116]:
# Changing senior Citizen to string
train_set['SeniorCitizen'] = train_set['SeniorCitizen'].astype(str)
test_set['SeniorCitizen'] = test_set['SeniorCitizen'].astype(str)

In [117]:
import matplotlib.pyplot as plt
import seaborn as sns

In [118]:
print(number.columns)

Index(['tenure', 'TotalCharges', 'MonthlyCharges'], dtype='object')

In [119]:
train_set.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
Churn               0
dtype: int64

In [120]:
# Imputing missing values for TOTALCHARGES  with 0 if tenure is 0 (NUMERIC COLUMNS)
train_set['TotalCharges'] = train_set.apply(lambda row: row['MonthlyCharges']
        if pd.isnull(row['TotalCharges']) and row['tenure'] == 0
        else row['TotalCharges'], axis=1)

In [124]:

for col in number :
    print(f'Processing column: {col}')


#calculating some statistical measures 

    skewness = round(number[col].skew(),2)
    kurtosis = round(number[col].kurtosis(),2)
    mean = round(number[col].mean(),2)
    median = round(number[col].median(),2)

#printing the columns and their values 
print(f"Column :{col}")
print(f"Skewness :{skewness}")
print(f"Kurtosis :{kurtosis}")
print(f"Mean :{mean}")
print(f"Median :{median}")
print("-" * 30)

Processing column: tenure
Processing column: TotalCharges
Processing column: MonthlyCharges
Column :MonthlyCharges
Skewness :-0.24
Kurtosis :-1.25
Mean :65.09
Median :70.55
------------------------------

IMPUTTING THE MISSING VALUES